.vscode/**
.vscode-test/**
out/test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.*
**/*.map
**/*.ts
**/*.tsbuildinfo
**/*.vsix
**/*.class
**/*Test*.groovy
**/*.groovy
!src/groovy/Kernel.groovy
!src/groovy/kernel-helpers.jar